<a href="https://colab.research.google.com/github/luizsdias/data_vis_com/blob/CA1/Data_Visualization_CA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Visualization CA1
##### David Silva | Student number: 0000000
##### Luiz Dias | Student number: 2018429

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [3]:
df = pd.read_csv("https://corgis-edu.github.io/corgis/datasets/csv/cars/cars.csv")

In [4]:
df.head()

   Dimensions.Height  ...  Engine Information.Engine Statistics.Torque
0                140  ...                                          236
1                140  ...                                          207
2                140  ...                                          207
3                140  ...                                          207
4                140  ...                                          207

[5 rows x 18 columns]

In [5]:
df.count()

Dimensions.Height                                  5076
Dimensions.Length                                  5076
Dimensions.Width                                   5076
Engine Information.Driveline                       5076
Engine Information.Engine Type                     5076
Engine Information.Hybrid                          5076
Engine Information.Number of Forward Gears         5076
Engine Information.Transmission                    5076
Fuel Information.City mpg                          5076
Fuel Information.Fuel Type                         5076
Fuel Information.Highway mpg                       5076
Identification.Classification                      5076
Identification.ID                                  5076
Identification.Make                                5076
Identification.Model Year                          5076
Identification.Year                                5076
Engine Information.Engine Statistics.Horsepower    5076
Engine Information.Engine Statistics.Torque        5076
dtype: int64

In [42]:
df.iloc[1:10,[1,2,5]]

   Dimensions.Length  Dimensions.Width  Engine Information.Hybrid
1                143               202                       True
2                143               202                       True
3                143               202                       True
4                143               202                       True
5                 17                62                       True
6                 17                62                       True
7                221               191                       True
8                221               191                       True
9                 96                34                       True